@media print, screen and (min-width: 640px) {

.pagetop {
    color: white;
    height: 100vh;
    width: 100vw;
}
.pagetopimg {
    height: 100vh;
    width: auto;
    position: fixed;
    z-index: -5;
}
.horizon {
    width: 50vw;
    margin-bottom: 25px;
}
.self-introduction {
    font-size: larger;
}
.index{
    font-size: 60px;
}
.maincontent {
    background-color: white;
}

/*Works*/
.movies {
    margin-top: 15px;
    margin-bottom: 15px;
}
.movie_shows{
    width: 320px;
    height: 240px;
}
.video-tag {
    font-size: x-large;
}
.video-tag.ind {
    color: white;
}
.video-tag.disco {
    font-size: medium;
}
.video-title {
    font-size: xx-large;
}
.video-title.ind {
    color: white;
}
.video-title.disco {
    font-size: large;
}
.link_btn {
    color: white;
}
.fa-twitter {
    font-size: 20px;
}
.fa-youtube {
    font-size: 25px;
}
#player_bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
}
#player {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    z-index: 4;
}
.andmore {
    font-size: x-large;
}

/*contact*/
.slide {
    display: none;
}
.slider {
    font-size: x-large;
}
.bar {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.plus {
    transition: 0.5s ease;
}
.plus.minus {
    transform: rotate(315deg);
}

/*header*/
.header {
    background-color: black;
    display: flex;
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 0px;
}
.menu {
    color: white;
    font-size: xx-large;
    text-decoration: none;
    transition: 0.3s;
}
.menu:hover {
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 5px white;
}

/*swiper*/
.slide-content {
    position: relative;
    width: 55vw;
}
.swiper-slide {
    text-align: center;
}
.swiper-container {
    text-align: center;
}

/*loader*/
#loader-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #ffffff;
    z-index: 3;
}
#loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;
    text-align: center;
    color: #fff;
    z-index: 4;
}

/*footer*/
footer {
    background-color: black;
    color: white;
    text-align: center;
    line-height: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

}
