/* 全体 */

body {
    font-family: a-otf-midashi-go-mb31-pr6n,sans-serif;
    font-weight: 600;
    font-style: normal;
}

p {
    font-size: 1.2em;
}

@media screen and (max-width: 480px) { 
    p {
        font-size: 1em;
    }
}

/* サイトトップ */

.pagetop {
    color: white;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.pagetop-title {
    padding: 30px 300px;
    position: absolute;
}

.swipe-wrap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-content {
    position: relative;
    width: 55vw;
}
.swiper-slide {
    text-align: center;
}
.swiper-container {
    text-align: center;
}


@media screen and (max-width: 1024px) { 
    .pagetop {
        height: 7rem;
    }

    .swipe-wrap {
        display: none;
    }

    .pagetop-title {
        padding: 30px 10px;
        position: absolute;
    }
}

/* ローディング */

#loader-bg {
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,1.0);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20000;
}
#loader-bg img {
	width: 500px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -250px;
}

@media screen and (max-width: 480px) { 
    #loader-bg img {
        width: 500px;
        height: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -150px;
        width: 300px;
    }
}

/* About */

@media screen and (max-width: 480px) { 
    #about h1 {
        margin-top: 1em;
        font-size: 2em;
    }
}

/* Works一覧 */

.movies img {
    width: 100%;
}

/* Contactメニュー */

.slide {
    display: none;
}
.slider {
    font-size: x-large;
}
.bar {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.plus {
    transition: 0.5s ease;
}
.plus.minus {
    transform: rotate(315deg);
}

/* フッター */

footer {
    background-color: black;
    color: white;
    text-align: center;
    line-height: 12px;
    padding: 30px 0;
    line-height: normal;
}
footer p {
    margin: 0;
}
